* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #2D3047;
    background-color: #001021;
    height: 100vh;
    overflow: hidden;
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    background-color: #001021;
    color: #F9F8F8;
    box-shadow: #0CAADC 0px 0px 15px 0px;
}

.header-left,
.header-right {
    margin: 0 6em;
    display: flex;
    align-items: center;
}

.title {
    font-size: 3em;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0.5em;
    gap: 1em;
}

li{
    border-radius: 0.5em;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 2em;
    transition: all .5s;
    text-decoration: none;
    color: #CDD3CE;
    transition: all .5s;
}

a:hover {
    box-shadow: #0CAADC 0px 0px 15px 0px;
    border-radius: 0.5em;
    color: #F9F8F8;
}
